{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "solid"],
  "extends": ["eslint:recommended", "plugin:solid/typescript"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "tsconfigRootDir": "./",
    "jsx": true,
    "useJSXTextNode": true
  }
}
